<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="SavoryTransformDB" connectionString="Data Source=192.168.1.107,1433;Initial Catalog=SavoryTransformDB;Integrated Security=True;Connect Timeout=10"/>-->
    <add name="SavoryTransformDB" connectionString="Data Source=BLUEWIND\BLUESERVER;Initial Catalog=SavoryTransformDB;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient" />
    <!--add name="SavoryTransformDB" connectionString="Data Source=192.168.1.107,1433;Initial Catalog=SavoryTransformDB;Integrated Security=False;User ID=HarrisDeploy;Password=Zhang@#123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" /-->
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TransformServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:4455/metadata" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="TransformServiceBehavior" name="Savory.TransformService.TransformService">
        <!--<endpoint address="http://192.168.1.107:4455" binding="basicHttpBinding" contract="Savory.TransformService.Contract.ITransformService" />-->
        <endpoint address="http://localhost:4455" binding="basicHttpBinding" contract="Savory.TransformService.Contract.ITransformService" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>